/* Flip timer */
.wavly-flip-timer {
    margin: 16px 0;

    #wavly-timer {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        height: auto;
        width: 100%;
    }
    .number-list {
        display: flex;
        align-items: center;
        justify-content: start;
        width: 100%;
    }
    .number-list .item {
        width: 90px;
        height: 75px;
        background: #efefef;
        margin-right: 24px;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 28px;
        color: #383838;
        font-weight: 700;
        line-height: 28px;

        .title {
            font-size: 12px;
            font-weight: normal;
        }
    }

    .timer-end {
        display: flex;
        align-items: start;
        font-size: 24px;
        color: #006741;
        font-weight: 700;
    }
}

/* Sale Timer */
#wavly-sale-timer {
    margin-top: 1.618em;
}
