/* Flip timer */
.boostimer-flip-timer {
    margin: 16px 0;

    #boostimer-timer {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        height: auto;
        width: 100%;
    }
    .number-list {
        display: flex;
        align-items: center;
        justify-content: start;
        width: 100%;
    }
    .number-list .item {
        width: 90px;
        height: 75px;
        background: #efefef;
        margin-right: 24px;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 32px;
        color: #383838;
        font-weight: 700;
        line-height: 28px;

        .title {
            font-size: 14px;
            font-weight: normal;
        }
    }

    .timer-end {
        display: flex;
        align-items: start;
        font-size: 24px;
        color: #006741;
        font-weight: 700;
    }
}

/* Sale Timer */
#boostimer-sale-timer {
    margin-top: 1.618em;
}

/* Prompt sale date */
.boostimer-prompt-date-wrapper {
    padding: 6px;
    margin-bottom: 10px;
    border-radius: 6px;
    border: 1px solid #6d6d6d;
    color: #6d6d6d;

    &:hover {
        background: #f8fafc;
        transition: background-color 0.3s ease-out;
    }
}
